@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");
#header {
  width: 100%;
  height: 10.125rem;
  font-family: "Sora", sans-serif;
}
#header .header-top-wrapper {
  width: 76.25rem;
  height: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.875rem auto 0.625rem;
}
#header .header-top-wrapper .logo {
  width: 18.75rem;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0.3125rem;
  gap: 1rem;
}
#header .header-top-wrapper .logo a {
  text-decoration: none;
}
#header .header-top-wrapper .logo img {
  width: 3.375rem;
  height: 100%;
}
#header .header-top-wrapper .logo span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0b3954;
}
#header .header-top-wrapper .search-bar {
  width: 47.125rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#header .header-top-wrapper .search-bar img {
  position: absolute;
  left: 5.9375rem;
}
#header .header-top-wrapper .search-bar img:hover {
  cursor: pointer;
}
#header .header-top-wrapper .search-bar input[type=search] {
  width: 36.125rem;
  height: 100%;
  font-weight: 500;
  font-size: 1rem;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
}
#header .header-top-wrapper .user-side-container {
  width: 11.125rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-top-wrapper .user-side-container .user-side-icon {
  position: relative;
  cursor: pointer;
  gap: 0.3125rem;
}
#header .header-top-wrapper .user-side-container .user-side-icon span {
  position: absolute;
  top: -0.5rem;
  left: 0.85rem;
  width: 1.0625rem;
  height: 1.0625rem;
  font-weight: 400;
  font-size: 0.7rem;
  background-color: #333333;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
}
#header .header-top-wrapper .user-side-container .total-sum {
  cursor: pointer;
}
#header .header-top-wrapper .user-side-container .total-sum span {
  color: #0b3954;
  font-weight: 700;
  font-size: 1rem;
}
#header .header-bottom-wrapper {
  width: 76.25rem;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header .header-bottom-wrapper .furniture-types {
  width: 10.9375rem;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-right: 0.0625rem solid #f5f5f5;
}
#header .header-bottom-wrapper .furniture-types:hover {
  cursor: pointer;
}
#header .header-bottom-wrapper .furniture-types:hover .furniture-names > span {
  color: #ffb128;
}
#header .header-bottom-wrapper .furniture-types img {
  width: 2rem;
  height: 2rem;
}
#header .header-bottom-wrapper .furniture-types .furniture-names {
  width: 3.75rem;
  height: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
#header .header-bottom-wrapper .furniture-types .furniture-names span {
  font-weight: 600;
  font-size: 1rem;
  color: #0b3954;
}
#header .header-bottom-wrapper .furniture-types .furniture-names img {
  width: 0.75rem;
  height: 0.75rem;
}
#header .header-bottom-wrapper .sales {
  width: 10.625rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffb128;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  gap: 0.5rem;
}
#header .header-bottom-wrapper .sales:hover {
  background-color: #0b3954;
  cursor: pointer;
}
#header .header-bottom-wrapper .sales span {
  color: #ffffff;
}

#hero-section {
  width: 100%;
  height: calc(100vh - (100vh - 46.25rem));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
#hero-section .hero-bg {
  position: relative;
  width: 90%;
  height: calc(100vh - (100vh - 41.875rem));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b3954;
  border-radius: 2rem;
}
#hero-section .hero-bg .hero-content-container {
  position: absolute;
  z-index: 1;
  top: 2.375rem;
  width: 68%;
  height: calc(100vh - (100vh - 41.875rem));
  background: url(../../../assets/media/hero-section/main.photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
#hero-section .hero-bg .hero-content-container .hero-text {
  margin: 3.25rem 41.375rem 16.5rem 3.125rem;
  font-weight: 600;
  font-size: 0.75rem;
  font-family: "Sora", sans-serif;
  color: white;
}
#hero-section .hero-bg .hero-content-container .hero-text > span {
  padding: 0.3125rem;
}
#hero-section .hero-bg .hero-content-container .hero-text > h1 {
  font-weight: 700;
  font-size: 4rem;
  font-family: "Sora", sans-serif;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper {
  width: 22.75rem;
  height: 2.6875rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.75rem;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper > button {
  width: 9.5rem;
  height: 100%;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Sora", sans-serif;
  border-radius: 6.1875rem;
  border: none;
  color: white;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper > :first-child {
  background-color: #ffb128;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper > :first-child:hover {
  background-color: white;
  color: #ffb128;
  cursor: pointer;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper > :nth-child(2) {
  color: #ffb128;
}
#hero-section .hero-bg .hero-content-container .hero-text > .main-buttons-wrapper > :nth-child(2):hover {
  cursor: pointer;
  background-color: #ffb128;
  color: white;
}
#hero-section .hero-bg .furniture-color-btn {
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  cursor: pointer;
}
#hero-section .hero-bg .furniture-color-btn:hover {
  transform: scale(1.1);
}
#hero-section .hero-bg .hero-table-btn {
  position: absolute;
  z-index: 2;
  top: 31.25rem;
  left: 48.75rem;
}
#hero-section .hero-bg .hero-table-btn div {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.35px solid #ffffff;
}
#hero-section .hero-bg .hero-table-btn div span {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb128;
  color: white;
  border-radius: 50%;
}
#hero-section .hero-bg .hero-couch-btn {
  position: absolute;
  z-index: 2;
  top: 18.75rem;
  left: 68.75rem;
}
#hero-section .hero-bg .hero-couch-btn div {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.35px solid #ffffff;
}
#hero-section .hero-bg .hero-couch-btn div span {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #ffb128;
  color: white;
  border-radius: 50%;
}
#hero-section .hero-bg .hero-chair-btn {
  position: absolute;
  z-index: 2;
  top: 500px;
  right: 400px;
}
#hero-section .hero-bg .hero-chair-btn div {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.35px solid #ffffff;
}
#hero-section .hero-bg .hero-chair-btn div span {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #ffb128;
  color: white;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */