#about-us {
  @include boxSize(100%, auto);
  background-color: $mainColor;
  .about-us-container {
    @include boxSize(
      clamp(48rem, 70vw, 76.25rem),
      clamp(24.375rem, 50vh, 38.125rem)
    );
    margin: 3.75rem auto;
    max-width: 76.25rem;
  }
}
