@mixin boxSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin verticalFlex($justify: center, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin primaryFont($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}
@mixin mainFontStyle($weight, $size, $height, $spacing) {
  @include primaryFont($weight, $size);
  font-family: "Sora", sans-serif;
}

@mixin sectionBox($width, $height, $justify: space-between, $align: center) {
  @include boxSize($width, $height);
  @include flex($justify, $align);
}

@mixin inputStyles($width, $fontWeight, $fontSize) {
  @include boxSize($width, 100%);
  @include primaryFont($fontWeight, $fontSize);
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
}
@mixin setBackground($backgroundImg, $bgRepeat, $bgSize, $bgPosition) {
  background-image: $backgroundImg;
  background-repeat: $bgRepeat;
  background-size: $bgSize;
  background-position: $bgPosition;
}
@mixin setPadding($paddingTop, $paddingRight, $paddingBottom, $paddingLeft) {
  $paddingTop: $paddingTop;
  $paddingRight: $paddingRight;
  $paddingBottom: $paddingBottom;
  $paddingLeft: $paddingRight;
}
