@mixin boxSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
@mixin verticalFlex {
  display: flex;
  flex-direction: column;
}
@mixin primaryFont($fontWeight, $fontSize) {
  font-family: "Sora", sans-serif;
  font-weight: $fontWeight;
  font-size: $fontSize;
}
