@import "./mixins";
@import "./fonts";
@import "./variables";
@import "./functions";
@import "./header/header";
@import "./main\(hero-section\)/hero-section";
@import "./product-section/products-wrapper";
@import "./furniture-types/furniture-types-wrapper";
@import "./actual-trends-wrapper/actual-trends";
@import "./furniture-selector/furniture-selector";
@import "./magazine/magazine";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  // font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
    color: inherit;
  }
}

