@import "./mixins";
@import "./fonts";
@import "./variables";
@import "./functions";

* {
  margin: 0;
  padding: 0;
}
#header {
  @include boxSize(100%, 10.125rem);
  font-family: "Sora", sans-serif;
  .header-top-wrapper {
    @include sectionBox(76.25rem, 26%);
    margin: 1.875rem auto 0.625rem;
    .logo {
      @include boxSize(18.75rem, 100%);
      @include flex(left, center);
      padding: 0 0.3125rem;
      gap: 1rem;
      a {
        text-decoration: none;
      }
      img {
        @include boxSize(3.375rem, 100%);
      }
      span {
        @include primaryFont(bold, 1.5rem);
        color: color($mainColor, 0%);
      }
    }
    .search-bar {
      @include boxSize(47.125rem, 100%);
      @include flex(center, center);
      position: relative;
      img {
        position: absolute;
        left: 5.9375rem;
        &:hover {
          cursor: pointer;
        }
      }
      input[type="search"] {
        @include inputStyles(36.125rem, 500, 16px);
      }
    }
    .user-side-container {
      @include boxSize(10.3125rem, 100%);
      @include flex(space-between, center);
    }
  }
  .header-bottom-wrapper {
    @include sectionBox(76.25rem, 48%);
    margin: 0 auto;
    .furniture-types {
      @include boxSize(10.9375rem, 3.75rem);
      @include verticalFlex(center, center);
      gap: 0.5rem;
      border-right: 0.0625rem solid #f5f5f5;
      img {
        @include boxSize(2rem, 2rem);
      }
      .furniture-names {
        @include boxSize(3.75rem, 0.875rem);
        @include flex(space-between, center);
        gap: 0.625rem;
        span{
            &:hover{
              color: color($secondaryColor, 0%);
              cursor: pointer;
            }
        }
        img {
          @include boxSize(0.75rem, 0.75rem);
          &:hover{
            color: color($secondaryColor, 0%);
          }
        }
      }
    }
    .sales{
        @include sectionBox(10.625rem, 100%);
        background-color: $secondaryColor;
        border-radius: 8px;
        

    }
  }
}
