#magazine {
  @include boxSize(100%, 100vh);
  min-height: 100vh;
  background-color: $sectionBgColor;
  .magazine-content-container {
    position: relative;
    @include boxSize(
      clamp(68.75rem, 63.5vw, 76.25rem),
      clamp(34.5rem, 28vw, 40rem)
    );
    @include verticalFlex;
    margin: 0 auto;
    background-color: $secondaryColor;
    border-radius: clamp(1rem, 2vw, 2rem);
    .magazine-top-content {
      @include boxSize(
        clamp(62rem, 58vw, 69.375rem),
        clamp(25rem, 24vw, 28.5rem)
      );
      @include flex(space-between, center);
      .magazine-img {
        position: absolute;
        top: -2.5rem;
        @include boxSize(50%, clamp(25rem, 24vw, 28.5rem));
      }
      .magazine-text {
        @include boxSize(50%, clamp(17.5rem, 15vw, 20rem));
        @include verticalFlex(left, left);
        margin-left: 50%;
        gap: 15px;
        span {
          @include mainFontStyle(
            600,
            clamp(0.75rem, 0.9vw, 0.875rem),
            1.125rem,
            0
          );
          color: $thirdColor;
        }
        h2 {
          @include mainFontStyle(
            700,
            clamp(2rem, 3vw, 3rem),
            clamp(2.5rem, 3.5vw, 3.4375rem),
            0
          );
          color: $thirdColor;
          padding-bottom: clamp(0.75rem, 1.5vw, 1rem);
          padding-right: clamp(3rem, 10vw, 9rem);
        }
        a button {
          @include boxSize(
            clamp(9rem, 10vw, 10.125rem),
            clamp(2.5rem, 2.8vw, 2.75rem)
          );
          padding: clamp(0.625rem, 1vw, 0.9375rem) clamp(1.5rem, 3vw, 2.1875rem);
          background-color: $mainColor;
          color: $thirdColor;
          border-radius: clamp(1.5rem, 2vw, 2rem);
          border: none;
          &:hover {
            cursor: pointer;
            background-color: $thirdColor;
            color: $mainColor;
          }
        }
      }
    }
    .magazine-bottom-content {
      @include boxSize(
        clamp(60rem, 65vw, 68.625rem),
        clamp(7rem, 8vw, 8.4375rem)
      );
      @include flex(space-between, center);
      margin: 0 auto;
      .magazine-pages {
        @include boxSize(
          clamp(18rem, 24vw, 22.875rem),
          clamp(7rem, 8vw, 8.4375rem)
        );
        text-align: center;
        padding: 0 clamp(0.75rem, 2vw, 1.5rem);
        transition: ease;
        &:hover {
          transform: scale(1.05);
        }
        div {
          @include flex(space-between, center);
          gap: clamp(1rem, 2vw, 1.75rem);
          color: $thirdColor;
          margin-bottom: clamp(0.5rem, 1vw, 1rem);
          span {
            font-size: clamp(1rem, 2vw, 1.5rem);
            font-weight: bolder;
          }
          p {
            @include mainFontStyle(
              600,
              clamp(1.2rem, 2vw, 1.5rem),
              clamp(1.5rem, 2.5vw, 1.75rem),
              0
            );
          }
        }
        .pages {
          @include mainFontStyle(
            400,
            clamp(0.875rem, 1.5vw, 1rem),
            clamp(1.25rem, 2vw, 1.5rem),
            0
          );
          color: color($thirdColor, 0);
          opacity: 50%;
          margin-top: clamp(0.5rem, 1vw, 1rem);
          text-align: left;
        }
      }
    }
  }
}
