#magazine {
  width: 100%;
  min-height: 100vh;
  background-color: $sectionBgColor;
  .magazine-content-container {
    max-width: clamp(1100px, 80vw, 1220px);
    margin: 0 auto;
    padding: 0 auto 11.25rem auto;
    background-color: $secondaryColor;
    border-radius: clamp(16px, 2vw, 32px);
    @include verticalFlex;
    gap: clamp(32px, 4vw, 48px);
    .magazine-top-content {
      display: flex;
      flex-wrap: wrap;
      gap: clamp(16px, 2vw, 32px);
      align-items: center;
      position: relative;
      .magazine-img {
        flex: 1 1 45%;
        max-width: 50%;
        min-width: 280px;
        position: relative;
        top: -5rem;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .magazine-text {
        flex: 1 1 45%;
        min-width: 280px;
        @include verticalFlex(center, flex-start);
        gap: clamp(22px, 2vw, 24px);
        padding: clamp(16px, 3vw, 32px);
        span {
          @include mainFontStyle(600, clamp(12px, 1vw, 14px), 18px, 0);
          color: $thirdColor;
        }
        h2 {
          @include mainFontStyle(
            700,
            clamp(32px, 3vw, 48px),
            clamp(40px, 4vw, 56px),
            0
          );
          color: $thirdColor;
          padding-bottom: clamp(12px, 1.5vw, 16px);
        }
        a button {
          @include boxSize(clamp(128px, 20vw, 162px), clamp(40px, 4vw, 44px));
          padding: clamp(10px, 1vw, 15px) clamp(24px, 4vw, 36px);
          background-color: $mainColor;
          color: $thirdColor;
          border-radius: clamp(24px, 2vw, 32px);
          border: none;
          @include primaryFont(600, clamp(14px, 1vw, 16px));
          &:hover {
            background-color: $thirdColor;
            color: $mainColor;
            cursor: pointer;
          }
        }
      }
    }
    .magazine-bottom-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: clamp(16px, 2vw, 32px);
      .magazine-pages {
        flex: 1 1 30%;
        min-width: 15.625rem;
        padding: 0 clamp(16px, 2vw, 24px);
        text-align: center;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
        div {
          @include flex(space-between, center);
          gap: clamp(16px, 2vw, 24px);
          color: $thirdColor;
          margin-bottom: clamp(8px, 1vw, 16px);
          span {
            @include primaryFont(700, clamp(16px, 2vw, 24px));
          }
          p {
            @include mainFontStyle(
              600,
              clamp(19.2px, 2vw, 24px),
              clamp(24px, 2.5vw, 28px),
              0
            );
          }
        }
        .pages {
          @include mainFontStyle(
            400,
            clamp(14px, 1.5vw, 16px),
            clamp(20px, 2vw, 24px),
            0
          );
          color: color($thirdColor, 0);
          opacity: 0.5;
          text-align: left;
          margin-top: clamp(8px, 1vw, 16px);
        }
      }
    }
  }
}
