#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  @include boxSize(100%, clamp(6rem, 25vh, 10.1875rem));
  font-family: "Sora", sans-serif;
  background-color: $thirdColor;
  .header-top-wrapper {
    @include sectionBox(clamp(18rem, 90vw, 76.25rem), 50%);
    margin: clamp(0.5rem, 3vh, 1.875rem) auto clamp(0.25rem, 1vh, 1.5rem) auto;
    .logo {
      @include boxSize(clamp(8rem, 40vw, 18.75rem), 100%);
      @include flex(left, center);
      padding: 0 clamp(0.25rem, 1vw, 0.3125rem);
      gap: clamp(0.5rem, 2vw, 1rem);
      a {
        text-decoration: none;
      }
      img {
        @include boxSize(clamp(2rem, 5vw, 3.375rem), 100%);
      }
      span {
        @include primaryFont(bold, clamp(1rem, 3vw, 1.5rem));
        color: color($mainColor, 0%);
      }
    }
    .search-bar {
      @include boxSize(clamp(15rem, 60vw, 47.125rem), 2.8125rem);
      @include flex(center, center);
      position: relative;
      img {
        position: absolute;
        left: clamp(2rem, 10vw, 5.9375rem);
        &:hover {
          cursor: pointer;
        }
      }
      input[type="search"] {
        @include inputStyles(
          clamp(12rem, 50vw, 36.125rem),
          500,
          clamp(0.875rem, 2vw, 1rem)
        );
      }
    }
    .user-side-container {
      @include boxSize(clamp(6rem, 25vw, 11.125rem), 100%);
      @include flex(space-between, center);
      .user-side-icon {
        position: relative;
        cursor: pointer;
        gap: clamp(0.25rem, 2vw, 1rem);
        span {
          position: absolute;
          top: -0.5rem;
          left: 0.85rem;
          @include boxSize(
            clamp(0.75rem, 1.5vw, 1.0625rem),
            clamp(0.75rem, 1.5vw, 1.0625rem)
          );
          @include primaryFont(400, clamp(0.625rem, 1.5vw, 0.7rem));
          background-color: $alternativeColor;
          border-radius: 50%;
          text-align: center;
          color: $thirdColor;
        }
      }
      .total-sum {
        cursor: pointer;
        span {
          color: $mainColor;
          @include primaryFont(700, clamp(0.875rem, 2vw, 1rem));
        }
      }
    }
  }
  .header-bottom-wrapper {
    @include sectionBox(clamp(18rem, 90vw, 76.25rem), 50%);
    margin: 0 auto;
    .furniture-types {
      @include boxSize(clamp(6rem, 20vw, 10.9375rem), 100%);
      @include verticalFlex(center, center);
      gap: 1rem;
      &:hover {
        cursor: pointer;
      }
      img {
        @include boxSize(clamp(1.5rem, 4vw, 2rem), clamp(1.5rem, 4vw, 2rem));
      }
      .furniture-names {
        @include boxSize(
          clamp(2.5rem, 8vw, 3.75rem),
          clamp(0.75rem, 1.5vw, 0.875rem)
        );
        @include flex(space-between, center);
        gap: clamp(0.25rem, 1vw, 0.625rem);
        padding-bottom: 1.5rem;
        &:hover {
          filter: invert(39%) sepia(94%) saturate(748%) hue-rotate(1deg)
            brightness(106%) contrast(106%);
        }
        span {
          @include primaryFont(500, clamp(0.5rem, 2vw, 0.875rem));
          color: color($mainColor, 0%);
        }
        img {
          @include boxSize(
            clamp(0.5rem, 1.5vw, 0.75rem),
            clamp(0.5rem, 1.5vw, 0.75rem)
          );
        }
      }
    }
    .line {
      height: 78%;
      border: 1px solid $sectionBgColor;
    }
    .sales {
      @include boxSize(10.625rem, 78%);
      @include verticalFlex(center, center);
      background-color: $secondaryColor;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      gap: 0.5rem;
      &:hover {
        background-color: $mainColor;
        cursor: pointer;
      }
      span {
        color: $thirdColor;
      }
    }
  }
}
